html {
  
}
body {
  color: #e0e0e0;
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  background: #000;
  font-size: 1.6em;
}
[v-cloak] { 
  display: none;
}
.footer {
  position: fixed;
  bottom: 5px;
  font-size: .6em;
}
.footer div.text {
  background-color: rgba(0,0,0,.5);
  vertical-align: bottom;
  padding: 2px 10px 2px 10px;
}

.cam-images div {
  padding: 5% 5% 0 5%;
}
.cam-images img {
  width: 640px;
  max-width: 100%;
  height: auto;
}

/*
 * Current weather.
 */
#current .reading {
  margin: auto;
  text-align: center;
  padding: 15px 0 10px 0;
}

#current .header {
  font-size: 0.7em;
  color: #888;
}

#current .value {
  font-size: 2.5em;
  line-height: 0.95em;
}

#current .unit {
  color: #888;
}

/*
 * Spinner.
 */
#spinner {
  display: table;
  height: 100%;
  position: fixed;
  z-index: 0;
  width: 100%;
  overflow: hidden;
  background: #000;
}
#spinner>div {
  display: table-cell;
  vertical-align: middle;
}
#spinner>div>object {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .05s;
}
.fade-enter, .fade-leave-to {
  opacity: 0
}

.nav-link {
  padding: .3rem .8rem;
}
.nav {
  padding-top: 0;
  padding-bottom: .4em;
}

.form-control {
  color: #eee;
  background-color: #333;
}

.history .row {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
/*
 * History grid.
 */
.table { 
  overflow: auto; 
  border-collapse: collapse; 
  font-size: 0.5em; 
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 140px;
}
.table th,
.table td { 
  padding: 2px; 
  font-weight: normal; 
  white-space: nowrap; 
  border: none;
}
.table th { 
  text-align: center;
  vertical-align: top; 
  white-space: nowrap; 
  color: #222; 
}
.table th.sub { 
  font-size: 0.5em; 
}
.table th.period,
.table td.period { 
  background-color: #222; 
  text-align: left; 
}
.table th.rain { 
  color: #91B2BF; 
}
.table th.in-temp { 
  color: #F1594A; 
}
.table th.out-temp { 
  color: #249AA7; 
}
.table th.wind { 
  color: #ABD25E; 
}
.table th.sub,
.table th.period,
.table td { 
  border-bottom: 2px solid #373737; 
}
.table td { 
  text-align: center; 
}
.table td.negative { 
  color: #249AA7; 
}
