html, body {
  width: 100%;
  height: 100%;
  color: #e0e0e0;
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 1.5em;
}
body {
  background: #000;
}

#content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.inner-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12pt;
  padding: 5px 10px;
}
#footer div.text {
  background-color: rgba(0,0,0,.5);
  vertical-align: bottom;
  position: absolute;
  bottom: 5px;
}
#footer div.cam a {
  float: right;
}
#footer div.cam a>img {
  height: 64px;
  width: 64px;
}

/*
 * Current weather.
 */
#weather .reading {
  text-align: center;
  float: left;
  height: 150px;
  width: 260px;
  margin-bottom: 20px;
  padding: 10px;
}

#weather .header {
  font-size: 0.7em;
  color: #888;
}

#weather .value {
  font-size: 2.5em;
  line-height: 0.95em;
}

#weather .unit {
  color: #888;
}

/*
 * Spinner.
 */
#spinner {
  display: table;
  height: 100%;
  position: fixed;
  z-index: 0;
  width: 100%;
  overflow: hidden;
  background: #000;
}
#spinner>div {
  display: table-cell;
  vertical-align: middle;
}
#spinner>div>object {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

/*
 * History grid.
 */
table { 
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  border-collapse: collapse; 
  font-size: 1.2em; 
}
th, td { 
  padding: 2px 15px; 
  font-weight: normal; 
  white-space: nowrap; 
}
th { 
  vertical-align: top; 
  white-space: nowrap; 
  color: #222; 
}
th.sub { 
  font-size: 0.5em; 
}
th.period, td.period { 
  background-color: #222; 
  text-align: left; 
}
th.rain { 
  color: #91B2BF; 
}
th.in-temp { 
  color: #F1594A; 
}
th.out-temp { 
  color: #249AA7; 
}
th.wind { 
  color: #ABD25E; 
}
th.sub, th.period, td { 
  border-bottom: 2px solid #373737; 
}
td { 
  text-align: right; 
}
td.negative { 
  color: #249AA7; 
}
